{% extends "base.html" %}

{% block content %}
<div class="row">
    {% if not request.user.is_authenticated %}
        <div class="center-form-container">
        {% load account socialaccount %}
        <p><a class="btn-auth btn-github large" href="{% provider_login_url "github" %}">Sign in with <b>GitHub</b></a></p>
    {% else %}
        {% if pm.status != 200 %}
            <div class="pm-container center-form-container">
                <h1>Oops!</h1>
                <p>{{ pm.message }}</p>
            </div>
        {% else %}
            <div class="pm-container center-form-container">
                <div class="pm-user">
                    <img class="pm-pic img-fluid" src="{{ pm.to_user.avatar }}"/>
                    <div class="pm-nameloc">
                        <div class="pm-name">{{ pm.to_user.username }}</div>
                        <div class="pm-location"><i class="fa fa-map-marker" aria-hidden="true"></i>{% if pm.to_user.location %} {{ pm.to_user.location }}{% else %}Unknown Location{% endif %}</div>
                    </div>
                    <div class="pm-reponame">{{ pm.snippet.repository }} <div class="pm-stars counter"><i class="fa fa-star" aria-hidden="true"></i> {{ pm.snippet.stars }}</div></div>
                </div>
                <div class="pm-snippet">
                    <pre><code class="python">{{ pm.snippet.snippet }}</code></pre>
                    <div class="pm-snippet-footer">
                        <div class="pm-lang">Language: <strong>{{ pm.snippet.lang }}</strong></div>
                        <div class="pm-file">{{ pm.snippet.name }}: L{{ pm.snippet.lines }}</div>
                    </div>
                </div>
                <div class="pm-likedislike">
                    <a href="{% url 'users:action' 'like' pm.to_user.username %}" class="btn btn-success btn-lg pm-like"><i class="fa fa-heart" aria-hidden="true"></i> git add</a>
                    <a href="{% url 'users:action' 'dislike' pm.to_user.username %}" class="btn btn-danger btn-lg pm-dislike"><i class="fa fa-times" aria-hidden="true"></i> git rm</a>
                    <div style="clear: both;"></div>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>
{% endblock content %}


{% block javascript %}
{{ block.super }}
<script>
$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
    hljs.lineNumbersBlock(block);
  });
});
</script>
{% endblock %}