{% for message in msgs %}
{% if message.from_user == request.user %}
<!--My messages -->
<div class="pull-right match-message from">
    <div class="match-message-pic pull-right from"><img src="{{ message.from_user.avatar_url }}" class="img-fluid img-circle from" /></div>
    <div class="text-right match-mtext from">{{ message.content }}</div><br>
    <small class="text-right text-muted">{{ message.creation_date }}</small>
</div>
{% else %}
<!--The other dude messages -->
<div class="pull-left match-message">
    <div class="match-message-pic"><img src="{{ message.from_user.avatar_url }}" class="img-fluid img-circle" /></div>
    <div class="text-left match-mtext">{{ message.content }}</div><br>
    <small class="text-left text-muted">{{ message.creation_date }}</small>
</div>
{% endif %}
<div style="clear: both;"></div>
{% empty %}
<small><span class="git">git</span> <strong>init</strong> this conversation. Don't be a stranger.</small>
{% endfor %}