{% extends "base.html" %}
{% load static %}

{% block content %}
{% with github=object.get_github_account me=request.user%}
<div class="container">
    <div class="row">
        <div class="pm-container center-form-container">
            {% if matches|length == 0 %}
                <h1>No matches, yet! 😭</h1>
                {% if me.get_all_snippets|length == 0 %}
                <p>Start by adding your <span class="git">git</span>s</p>
                {% endif %}
            {% else %}
                <img class="img-fluid img-rounded" style='height: 100%; width: 100%; object-fit: contain' src="{% static 'images/omgmatch4.gif' %}"/>
                <br>
                <h1>Matches! 😍</h1>
                {% for match in matches %}
                    <p class="matchlistone"><img src="{{ match.to_user.avatar_url }}" class="matchlistpic img-fluid img-circle" /><a href="{% url 'users:match-detail' match.id %}"><strong>{{ match.to_user }}</strong></a></p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endwith %}
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script>
$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
    hljs.lineNumbersBlock(block);
  });
});
</script>
{% endblock %}

