{% extends "base.html" %}
{% load static %}

{% block content %}
{% with github=object.get_github_account me=request.user%}
<div class="container">
    <div class="row">
        <div class="pm-container center-form-container">
            {% if matches|length == 0 %}
                <h1>No matches, yet! 😭</h1>
                {% if me.get_all_snippets|length == 0 %}
                <p>Start by adding your <span class="git">git</span>s</p>
                {% else %}
                <p>
                {% endif %}
            {% else %}
                <ul>
                {% for match in matches %}
                    <li class=""><a href="{% url 'users:match-detail' match.id %}">{{ me }} with {{ match.to_user }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endwith %}
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script>
$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
    hljs.lineNumbersBlock(block);
  });
});
</script>
{% endblock %}

