{% extends "base.html" %}
{% load static %}

{% block title %}{{ object.username }}{% endblock %}

{% block content %}
{% with github=object.get_github_account %}
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="pm-container center-form-container" style="margin-top: 30px;">
                <h2><a href="{{ github.html_url }}">{{ object.username }}</a></h2>
                <br />
                <p><a href="{{ github.html_url }}"><img class="profilepic img-fluid" src="{{ github.avatar_url }}"/></a></p>
                
                <br />

                <a href="{{ github.html_url }}?tab=following"><div class="profilestat" style="padding-left:0;">Following</div> <div class="counter">{% if github.following %}{{ github.following }}{% else %}0{% endif %}</div></a>

                <a href="{{ github.html_url }}?tab=followers"><div class="profilestat">Followers</div> <div class="counter">{% if github.followers %}{{ github.followers }}{% else %}0{% endif %}</div></a>

                <a href="{{ github.html_url }}?tab=repositories"><div class="profilestat">Repos</div> <div class="counter">{% if github.public_repos %}{{ github.public_repos }}{% else %}0{% endif %}</div></a>

                <br /><br />
                {% if github.location %}
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{ github.location }}</p>
                {% endif %}
                {% if github.company %}
                <p><strong>Company:</strong> {{ github.company }}</p>
                {% endif %}
            </div>
        </div>
        <div class="col-xs-6">
            <div class="pm-container center-form-container" style="margin-top: 30px;">
                {% if snippets|length == 0 %}
                    <h2>
                     <a href="{% url 'users:add-snippet' %}">
                        <input type="submit" class="btn btn-success btn-lg" value="Add" />
                     </a> a snippet, yeah? 😙
                    </h2>
                {% else %}
                    <h2>{% if request.user == object %}Your{% else %}{{ object.username }}'s{% endif %} snippets</h2>
                    {% for snippet in snippets %}
                        <div class="pm-snippet">
                            <div class="pm-snippet-header">
                                <i class="fa fa-trash" aria-hidden="true"></i> <a href="{% url 'users:snippet-action' 'delete' snippet.id %}">Delete snippet</a>
                            </div>
                            <pre><code class="python">{{ snippet.snippet }}</code></pre>
                            <div class="pm-snippet-footer">
                                <div class="pm-lang">Language: <strong>{{ snippet.language }}</strong></div>
                                <div class="pm-file">{{ snippet.repository }}: {{ snippet.lines }}</div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endwith %}
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script>
$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
    hljs.lineNumbersBlock(block);
  });
});
</script>
{% endblock %}

